* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
   
}

/* Navigation bar Style start */
.navbar {
    background-color: #285a94 !important;
    border-bottom: 1px solid rgb(62, 62, 62);
    max-width: 100% !important;
}

.nav-link:hover {
    color: red rgb(79, 79, 79) !important;
    border-bottom: 1px solid lightgray;
    transition: .7s;
}

.req-btn {
    background-color: black; border: none !important;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid lightgrey !important;
}

.req-btn a {
    text-decoration: none;
    color: white;
}

.req-btn:hover {
    background-color: rgb(92, 92, 92) !important;
    color: black !important;
    transform: translateY(-0.4rem);
    transition: .4s;
}
/* Navigation bar Style Ends */





/* Header Style  */
.header-container {
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.5 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}


.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Montserrat', serif !important;
    font-size: 50px !important;
    font-weight: bold;
}

.header-container p {
    color: white;
    font-size: 19px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}
/* Headter Style Ends */




/* Unveilling segment */

.unveiling{
   background-color: white;
}

.unveiling .container {
    background-color: navy; 
    font-family: 'Montserrat', sans-serif;
     border-radius: 30px !important;
}

.unveiling h3 {
    line-height: 40px !important;
    font-weight: bold !important;
    color: white !important;
    line-height: 40px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.unveiling p {
    font-size: 18px !important;
    line-height: 30px !important;
    color: white !important;
    text-align: justify !important;
}

/* Unveilling segment */












/* localize segment */
.localize{
    background-color: navy;
 }

.localize h3 {
    line-height: 40px !important;
    font-weight: bold !important;
    color: white !important;
    line-height: 40px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.localize p {
    font-size: 18px !important;
    line-height: 40px !important;
    text-align: justify !important;
    color: white !important;
    line-height: 40px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.localize i {
    color: white !important;
}
/* localize segment */








/* What makes dial24/7 unique */
.dial h3 {
    line-height: 40px !important;
    font-weight: bold !important;
    line-height: 40px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.dial p {
    font-size: 15px !important;
    line-height: 40px !important;
    text-align: justify !important;
    line-height: 40px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.dial-group h3 {
    color: black;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}
/* What makes dial24/7 unique */







/* risk  feature */
.risk-feature {
    background-color: navy;
    font-family: 'Montserrat' ,sans-serif;
}

.risk-feature p{
    line-height: 30px;
    font-size: 20px;
}

.risk-feature i{
    color: yellow;
}
/* risk  feature */






/* How The Dial 24/7 Risk Assessment Works */
.how-it-work  h1 {
    color: navy;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 48px !important;

}

.how-it-work  h3, .how-it-work h4 {
    color: navy;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 48px !important;

}


.how-it-work  p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.how-it-work  img{
   height: 400px !important;
   max-width: 400px !important;
}
/* How The Dial 24/7 Risk Assessment Works */


/* Creating A Dynamic Risk Assessment */
.creating h3 {
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 40px;
    color: white;
    text-align: center;

}

.creating p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 35px;

}


/* Creating A Dynamic Risk Assessment */


/* Footer Style Starts herw */



@media only screen and (max-width: 600px) {   

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
}
    
body {
        overflow-x: hidden !important; 
     
       
}

p {
        text-align: left !important;
        font-size: 1rem !important;
        line-height: 25px !important;
}
    
h1 {
        font-size: 23px !important;
}
    

/* Header Style  */
.header-container {
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.3 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}

.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 25px !important;
}

.header-container p {
    color: ghostwhite;
    font-size: 14px !important;
    line-height: 27px !important;
    font-family: 'Montserrat', sans-serif;
}






.unveiling h3 {
    font-size: 20px !important;
    line-height: 30px !important;
}


.unveiling p {
    font-size: 14px !important;
    line-height: 24px !important;
}

.localize h3 {
    font-size: 20px !important;
    line-height: 30px !important;
}


.localize p {
    font-size: 14px !important;
    line-height: 24px !important;
}

    
.localize i {
    font-size: 16px !important;

    
}



#container {
    border-radius: 4px;
    padding: 10px;
}

#container h3 {
    color: white;
    font-size: 23px !important;
    line-height: 27px !important;
}


#container p {
    color: white;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify !important;


}


#span::before {
    content: 'show more ...';
    color: red;
    cursor: pointer;
    font-size: 16px;

}

#container.active p {
    display: block;

}

#container.active #span::before {
    content: 'show less';

}




#container-2 {
    background-color: rgb(253, 253, 253);
    border-radius: 4px;
    padding: 10px;
}

#container-2 p {
    color: rgb(0, 0, 0) !important;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-2::before {
    content: 'show more ...';
    color: red;
    cursor: pointer;
    font-size: 16px;
}

#container-2.active p {
    display: block;
    text-align: justify !important;
}

#container-2.active #span-2::before {
    content: 'show less';
}




.dial h3 {
    font-size: 20px !important;
    line-height: 30px !important;
}

  
.dial p {
    font-size: 14px !important;
    line-height: 24px !important;
    text-align: justify !important;
}

    
.dial i {
    font-size: 16px !important;

    
}



    .dial-group .row  h3{
        font-size: 20px;
        line-height: 2px;
    }

    .dial-group .row  p{
        font-size: 14px !important;
        line-height: 17px !important;
    }


    .dial-group .row {
        height: 130px !important;
    }

    .risk-feature  h3 {
        font-size: 20px !important;
        line-height: 30px !important;
        padding-bottom: 10px;
    }

    .risk-feature  i {
        font-size: 16px !important;
     
    }


    .risk-feature  p {
        font-size: 14px !important;
        line-height: 24px !important;
        text-align: justify !important;

    }

    .how-it-work h3 {
        font-size: 20px !important;
        line-height: 30px !important;
        text-align: center !important;
        padding-bottom: 10px;
    }

    
    .how-it-work p {
        font-size: 14px !important;
        line-height: 24px !important;
        text-align: justify !important;
    }


    .how-it-work  img{
        height: 250px !important;
        max-width: 300px !important;
     }

    .creating h3 {
        font-size: 20px !important;
        line-height: 30px !important;
        text-align: center !important;
        text-align: center !important;
        padding-bottom: 10px;
    }

    
    .creating p {
        font-size: 14px !important;
        line-height: 30px !important;
        text-align: center !important;
    }


    .footer {
        padding: 20px;
    }
    
    .add {
        display: flex !important;
        flex-direction: column !important;
        padding-top: 20px;
    }
    
    .add p {
      
        padding-bottom: 10px;
    }



}



@media only screen and (min-width: 1200px) {

   
}