@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat";
   
}


#read-mor, #read-less, #show-mor, #show-les, #open-les, #open-mor, #track-les, #track-mor, #lib-mor, #lib-les, #plume-mor, #plume-les {
    color: red;
}

/* #show-mor {
    margin-right: 30%;
} */

/* #open-mor, #open-les {
    margin-right: 20%;
} */

/* #track-mor, #track-les {
    margin-right: 27%;
} */

#dial, #secure {
    overflow: hidden;
    height: 16vh;
}

#dial {
    font-size: 20px;
}

#threat, #track {
    overflow: hidden;
    height: 20vh;
}

#plume, #library{
    overflow: hidden;
    height: 19vh;
}

#plume-les, #plume-mor {
    margin-right: 54%;
}

#plume-les {
    margin-right: 0;
}
/* 
#lib-les, #lib-mor {
    margin-right: 15%;
} */

#lib-les {
    margin-right: 0;
}

/* Navigation bar Style start */
.navbar {
    background-color: #000080 !important;
    border-bottom: 1px solid rgb(62, 62, 62);
    max-width: 100% !important;
    height: 70px;
    align-items: center;
    justify-content: center;
  }

.nav-link:hover {
    color: red rgb(79, 79, 79) !important;
    border-bottom: 2px solid yellow;
    transition: .7s;
}

.dropdown-menu {
    overflow-y: scroll;
    height: 300px;
    padding: 60px 30px;
  }
  
  .dropdown-item:hover {
    background-color: red;
  }

  .req-btn {
    background-color: black;
    border: none !important;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid lightgray !important;
  }
  
  .req-btn a {
    text-decoration: none;
    color: white;
  }
  
  .req-btn:hover {
    background-color: rgb(92, 92, 92) !important;
    color: black !important;
    transform: translateY(-0.4rem);
    transition: 0.4s;
  }
/* Navigation bar Style Ends */





/* Header Style  */
.header-container {
    background-color: navy;
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.2 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}

.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Montserrat', serif !important;
    font-weight: bold;
    font-size: 48px !important;
}

.header-container p {
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}

/* Headter Style Ends */


/* Statement style */
.statement {
    background-color: white !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}
/* Statement style */








/* Unveiling style */

.unveiling h3 {
    font-size: 35px !important;
    color: navy !important;
    font-family: 'Montserrat', sans-serif;
}


.unveiling p {
    font-size: 15px !important;
    line-height: 25px !important;
    text-align: justify !important;
    color: navy !important;
    font-family: 'Montserrat', sans-serif !important;
}


/* Unveiling style */





.comprehensive {
    background-color: navy;
}

.comprehensive h4{
    font-size: 35px !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: capitalize;
    font-weight: bold;
}

.comprehensive p{
    color: white !important;
    text-align: justify !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-size: 13px;
}


.dial-group i {
    color: white;
}


/* capturing */

.caputring  {
    background-color: navy;
}

.caputring h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.caputring p {
    font-family: 'Montserrat', sans-serif;
    font-size: .93em;
    text-align: justify;
    color: white;
}

/* capturing */




/* Footer Style Starts herw */
footer {
    background-color: #000080;
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }
  
  footer a {
    color: yellow;
    text-decoration: none;
  }
  
  footer a:hover {
    color: grey;
  }
  
  footer img {
    width: 100px;
  }
  
  .footer-box {
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }
  
  .footer-box h1 {
    font-size: 1.7em;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bold;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .footer-box {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px 50px;
    align-items: center;
    font-size: 0.7em;
    justify-content: center;
  }
  
  .special {
    line-height: 15px;
  }
  
  .footer-box div {
    line-height: 6px;
    text-align: justify;
    border-radius: 5px;
    color: white;
    width: 300px;
    box-sizing: border-box;
    height: 200px;
    margin: 20px auto;
  }
  
  .footer-box div h1 {
    text-align: left;
    margin-bottom: 10px;
  }
/* Footer style ends here */




.last {
    background-color: #000080;
    height: fit-content;
    border-top: 1px solid #fff;
    box-sizing: border-box;
  }
  
  .socials-container {
    text-align: center;
    box-sizing: border-box;
  }
  
  .last a {
    font-size: 1em;
    padding: 9px 10px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .last #whatsapp:hover {
    color: #25d366 !important;
  }
  
  .last #linkedin:hover {
    color: #0077b5 !important;
  }
  
  .last #instagram:hover {
    color: #e1306c !important;
  }
  
  .last #twitter:hover {
    color: grey !important;
  }













@media only screen and (max-width: 600px) {

    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }
    
    body {
        overflow-x: hidden !important; 
     
       
    }

    p {
        
        font-size: 1rem !important;
        line-height: 25px !important;
    }
    
    h1 {
        font-size: 23px !important;
    }

    /* Header Style  */
    .header-container {
        height: 80vh !important;
        position: relative !important;
    }
    
    .header-container img{
        opacity: 0.3 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        object-fit: cover !important;
        min-width: 100% !important;
        height: 80vh;
    }
    
    .header-text {
        position: absolute !important;
        top: 0 !important;
    } 
    
    .header-container h1 {
        color: white !important;
        font-family: 'Roboto Slab', serif !important;
        font-size: 25px !important;
    }
    
    .header-container p {
        color: ghostwhite;
        font-size: 14px !important;
        line-height: 20px !important;
        font-family: 'Montserrat', sans-serif;
    }

    .statement p {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .unveiling span {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .unveiling h3 {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .unveiling p{
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 100 !important;
    }

    .div p {
        padding: 0 !important;
    }

    .dont h4 {
        font-size: 10px !important;
        line-height: 24px !important;
        
    
    }

    .comprehensive  h4 {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .comprehensive i{
        font-size: 14px !important;
    
    }

    

    .comprehensive p{
        font-size: 15px !important;
        line-height: 20px !important;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .dont {
        text-align: center !important;
    }




    .dial h3 {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .dial p {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .five-pillar p {
        font-size: 14px !important;
        line-height: 20px !important;
    }


    
    .caputring h3 {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .cap-para p {
        font-size: 14px !important;
        line-height: 20px !important;
    }    

    .monitoring-header img {
        height: 80vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        opacity: 0.6;
        
    }


    .monitoring-text  h1, span {
        font-size: 30px !important;
       text-align: left;
       line-height: 40px !important;
    }

    .monitoring-text  p {
        font-size: 15px !important;
        line-height: 20px !important;
    }

    .dial-group i {
        font-size: 15px !important;
        line-height: 17px !important;
    }

    .dial-group p {
        font-size: 14px !important;
        line-height: 23px !important;
    }


    


    .footer {
        padding: 20px;
    }
    
    .add {
        display: flex !important;
        flex-direction: column !important;
        padding-top: 20px;
    }
    
    .add p {
      
        padding-bottom: 10px;
    }


#container {
    background-color: black;
    border-radius: 4px;
    padding: 10px;
}

#container p {
    color: white;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;


}


#span::before {
    content: 'show more ...';
    color: cornsilk;
    cursor: pointer;
    font-size: 16px;

}

#container.active p {
    display: block;

}

#container.active #span::before {
    content: 'show less';

}




#container-2 {
    background-color: rgb(253, 253, 253);
    border-radius: 4px;
    padding: 10px;
}

#container-2 p {
    color: rgb(0, 0, 0) !important;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-2::before {
    content: 'show more ...';
    color: black;
    cursor: pointer;
    font-size: 16px;
}

#container-2.active p {
    display: block;
}

#container-2.active #span-2::before {
    content: 'show less';
}



#container-3 {
    border-radius: 4px;
    padding: 10px;
}

#container-3 p {
    color: black;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-3::before {
    content: 'show more ...';
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#container-3.active p {
    display: block;
}

#container-3.active #span-3::before {
    content: 'show less';
}



#container-4 {
    border-radius: 4px;
    padding: 10px;
}

#container-4 p {
    color: black;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-4::before {
    content: 'show more ...';
    color: red;
    cursor: pointer;
    font-size: 16px;
}

#container-4.active p {
    display: block;
}

#container-4.active #span-4::before {
    content: 'show less';
}



#container-5 {
    border-radius: 4px;
    padding: 10px;
}

#container-5 p {
    color: black;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-5::before {
    content: 'show more ...';
    color: red;
    cursor: pointer;
    font-size: 16px;
}

#container-5.active p {
    display: block;
}

#container-5.active #span-5::before {
    content: 'show less';
}



#container-6 {
    border-radius: 4px;
    padding: 10px;
}

#container-6 p {
    color: black;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-6::before {
    content: 'show more ...';
    color: red;
    cursor: pointer;
    font-size: 16px;
}

#container-6.active p {
    display: block;
}

#container-6.active #span-6::before {
    content: 'show less';
}


#container-7 {
    border-radius: 4px;
    padding: 10px;
}

#container-7 p {
    color: black;
    font-size: 17px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


#span-7::before {
    content: 'show more ...';
    color: red;
    cursor: pointer;
    font-size: 16px;
}

#container-7.active p {
    display: block;
}

#container-7.active #span-6::before {
    content: 'show less';
}


}



@media only screen and (min-width: 1200px) {

   
}