* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation bar Style start */
.navbar {
    background-color: #285a94 !important;
    border-bottom: 1px solid rgb(62, 62, 62);
    max-width: 100% !important;
}

.nav-link:hover {
    color: red rgb(79, 79, 79) !important;
    border-bottom: 1px solid lightgray;
    transition: .7s;
}

.req-btn {
    background-color: black; border: none !important;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid lightgray !important;
}

.req-btn a {
    text-decoration: none;
    color: white;
}

.req-btn:hover {
    background-color: rgb(92, 92, 92) !important;
    color: black !important;
    transform: translateY(-0.4rem);
    transition: .4s;
}
/* Navigation bar Style Ends */







/* Header Style  */
.header-container {
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.2 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}

.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 65px !important;
}

.header-container p {
    color: ghostwhite;
    font-size: 19px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header-container i {
   color: red !important;
}
/* Headter Style Ends */









/* Help */
.help h3 {
    line-height: 40px !important;
    font-size: 30px !important;
    font-weight: bold !important;
    color: navy !important;
    font-family: 'Montserrat', sans-serif !important;
}


.help p {
    font-size: 20px;
    color: navy;
    text-align: center !important;
 }
/* Help */






/* App feature */
.app-feature {
    background-color: navy;
}


.app-feature h2 {
    color: white;
}

.app-feature ul {
    list-style-type: none;

}

.app-feature ul  li{
    border-bottom: 2px solid black;
    margin: 10px;
    background-color: rgb(0, 21, 29);
}
/* App feature */







/* IN HOUSE/EXTERNAL */
.in-house h3 {
    font-size: 30px;
    border-left: 9px solid red;
    color: navy;

}

.in-house p {
    font-size: 20px;
    color: navy;
    text-align: justify; 
    line-height: 40px;
}











/* Ai */
.ai h2 {
    font-size: 40px;
    color: navy;
    line-height: 60px;
    font-weight: bold;

}

.ai h4 {
    font-size: 30px;
    color: navy;


}

.ai p {
   font-size: 20px;
   text-align: justify; 
   color: navy;
   line-height: 40px;

}







/* Why choose dial 24/7 */
.why {
    background-color: navy !important;
}

.why h3{
    font-size: 35px;
    font-weight: bold;
    color: white !important;
}

.why ul {
    list-style-type: none;
}

.why i {
    color: orange;
}

.why b, li {
    font-size: 19px;
    line-height: 30px;
    color: white !important;

}
/* Why choose dial 24/7  Ends*/





/* App Feaures */
.app-feature i {
    color: red;
}
/* App Feaures */


/* Wearable */
.wearable h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 40px;
}

.wearable h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 40px;
    color:navy;
    font-weight: bold;
}

.wear-text {
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    text-align: justify;
    font-size: 18px;
}
/* Wearable */


.app-feature-2 ul {
    list-style-type: none;
}


.app-feature-2 p {
    font-size: 17px !important;
    text-align: justify;
}

.app-feature-2 i {
    color: yellow;
}






/* Footer Style Starts herw */
.footer {
    background-color: navy;
    border-top: 1px solid #fff;
}

.footer h5{
    text-decoration: none;
    color: ghostwhite !important;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 14px !important;
}

.footer p{
    text-decoration: none;
    color: white;
    font-size: 14px !important;
}

.footer a:hover{
    color: red !important;
}
/* Footer style ends here */


.socials {
    background-color: #285a94;
}
.socials a {
    text-decoration: none;
    cursor: pointer;
}

.socials #linkedin:hover {
    color: #0077b5 !important;
}

.socials #instagram:hover {
    color: #E1306C !important;
}

.socials #twitter:hover {
    color: grey !important;
}





@media only screen and (max-width: 600px) {
       

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }
    
    body {
        overflow-x: hidden !important; 
     
       
    }

    p {
        text-align: left !important;
        font-size: 1rem !important;
        line-height: 25px !important;
    }
    
    h1 {
        font-size: 23px !important;
    }


/* Header Style  */
.header-container {
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.3 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}

.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 25px !important;
}

.header-container p {
    color: ghostwhite;
    font-size: 14px !important;
    line-height: 24px !important;
    font-family: 'Montserrat', sans-serif;
}



    
    .help h3 {
        font-size: 20px !important;
    }

    
    .help p {
        font-size: 14px !important;
    }

    

    .app-feature h5{
        font-size: 15px !important;
    }
    


    .app-feature h2 {
        font-size: 20px !important;
    }
    
        
    .app-feature img{
        height: 400px !important;
        width: 200px;
        object-fit: contain;
    }

    .in-house h3 {
        font-size: 20px !important;
    }
    
    .in-house p {
        font-size: 14px !important;
    }



.ai h2 {
    font-size: 20px !important;
    line-height: 24px ;
}

.ai h4 {
    font-size: 20px !important;
    line-height: 24px ;
}

.ai p {
    font-size: 14px !important;
}

.why h3 {
    font-size: 20px !important;
    line-height: 24px ;
    margin-bottom: 20px;
}

.why b {
    font-size: 14px !important;
  
}


.why li {
    font-size: 14px !important;
    text-align: justify !important;
  
}

.wearable h3 {
    font-size: 20px !important;
    line-height: 24px ;
}

.wearable h4 {
    font-size: 20px !important;
    line-height: 29px ;
}

.wearable p {
    font-size: 14px !important;
    line-height: 24px ;
}
  
    
.footer {
    padding: 20px;
}

.add {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 20px;
}

.add div {
    padding-left: 20px;
}
   

.add p {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}



}

@media only screen and (max-width: 1280px) {


}
