* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
   
}




/* Navigation bar Style start */
.navbar {
    background-color: #285a94 !important;
    border-bottom: 1px solid rgb(62, 62, 62);
    max-width: 100% !important;
}

.nav-link:hover {
    color: red rgb(79, 79, 79) !important;
    border-bottom: 1px solid lightgray;
    transition: .7s;
}

.req-btn {
    background-color: black; border: none !important;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid lightgray !important;
}

.req-btn a {
    text-decoration: none;
    color: white;
}

.req-btn:hover {
    background-color: rgb(92, 92, 92) !important;
    color: black !important;
    transform: translateY(-0.4rem);
    transition: .4s;
}
/* Navigation bar Style Ends */








/* Header Style  */
.header-container {
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.3 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}

.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 50px !important;
}

.header-container p {
    color: ghostwhite;
    font-size: 19px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}
/* Headter Style Ends */




.req-btn a {
    text-decoration: none;
    color: white;
}

.req-btn:hover {
    background-color: rgb(92, 92, 92) !important;
    color: black !important;
    transform: translateY(-0.4rem);
    transition: .4s;
}

.comprehensive {
    color: navy;
}

.comprehensive h2 {
    line-height: 60px;
    font-size: 50px;
}

.comprehensive p {
    line-height: 30px;
    font-size: 18px;

}

.experience {
    color: navy;
}

.experience h1 {
    font-size: 50px;
    line-height: 60px;
}
.experience p {
    line-height: 30px;
}

.unlocking .container {
    border-top-right-radius: 50px !important;
    border-bottom-left-radius: 40px !important;
}

.unlocking h3 {
    font-size: 37px;
    line-height: 50px;
    text-align: center;
    color: white;
}

.safety-app {
    color: navy;
}

.safety-app h2 { 
   text-align: center;
   font-weight: bold;
   font-size: 40px;

}

.safety-app i {
    color: rgb(7, 7, 86);
}


.safety-feature ul{
    list-style-type: none;
    text-align: right;
    line-height: 25px;

}

.safety-feature-two ul {
    list-style-type: none;
    text-align: left;
    line-height: 25px;
}

.curious h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.curious {
    background-color: white;
    border-bottom: 2px solid #fff;
}
.curious p {
    line-height: 30px;

}




/* Footer Style Starts herw */
.footer {
    background-color: navy;
}

.footer h5{
    text-decoration: none;
    color: ghostwhite !important;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 14px !important;
}

.footer p{
    text-decoration: none;
    color: white;
    font-size: 14px !important;
}

.footer a:hover{
    color: red !important;
}
/* Footer style ends here */




.socials {
    background-color: #285a94;
}
.socials a {
    text-decoration: none;
    cursor: pointer;
}

.socials #linkedin:hover {
    color: #0077b5 !important;
}

.socials #instagram:hover {
    color: #E1306C !important;
}

.socials #twitter:hover {
    color: grey !important;
}






/* MOBILE DEVICES */
@media only screen and (max-width: 600px) {     

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }
    
    body {
        overflow-x: hidden !important; 
     
       
    }

    p {
        text-align: left !important;
        font-size: 1rem !important;
        line-height: 25px !important;
    }
    
    h1 {
        font-size: 23px !important;
    }

/* Header Style  */
.header-container {
    height: 80vh !important;
    position: relative !important;
}

.header-container img{
    opacity: 0.3 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    min-width: 100% !important;
    height: 80vh;
}

.header-text {
    position: absolute !important;
    top: 0 !important;
} 

.header-container h1 {
    color: white !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 20px !important;
    line-height: 27px !important;
}

.header-container p {
    color: ghostwhite;
    font-size: 14px !important;
    line-height: 30px !important;
    font-family: 'Montserrat', sans-serif;
}







    .comprehensive h2 {
        line-height: 25px;
        font-size: 20px;
    }

    .unlocking h3 {
        font-size: 27px;
        line-height: 30px;
    }
    
    .unlocking h5 {
        font-size: 14px;
        line-height: 30px;
    }

    .unlocking p {
        font-size: 13px !important;
        text-align: center !important;
    }

    .safety-app h2 {
        font-size: 27px;
        padding: 20px;
        background-color: rgb(6, 27, 46);
        color: white;
        border-radius: 30px;
    }

    .safety-app p {
       text-align: justify !important;
    }

    .safety-app img{
       width: 300px;
       height: 290px;
    }

    .safety-feature-two {
        margin-top: 30px !important;
    }

    .curious h3 {
        font-size: 27px;
    }

    .footer {
        padding: 20px;
    }
    
    .add {
        display: flex !important;
        flex-direction: column !important;
        padding-top: 20px;
    }
    
    .add div {
        padding-left: 20px;
    }
       
    
    .add p {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
   
    
    
    

    


}
